.zl-date-picker {
  border: 1px solid black;
  border-radius: var(--border-radius);
  height: 2rem;
  line-height: 2rem;
  margin-left: 0.5rem;

  &.valid {
    &.error {
      border-color: hsl(0, 100%, 50%);
    }

    input {
      width: calc(100% - 30px);
    }
  }

  input {
    border: none;
    width: calc(100% - 16px);
  }

  .month-btn {
    width: 45px;
  }

  .year-btn {
    width: 45px;
  }

  .picker {
    background-color: white;

    > div {
      border: 1px solid black;
      border-top: none;
      border-radius: var(--border-radius-bottom);
    }
  }

  table {
    margin: auto;
    width: 100%;
  }

  td {
    border-radius: var(--border-radius);

    &:hover {
      background-color: var(--info);
    }
  }

  .sel {
    background-color: var(--primary);
  }

  .date-input {
    &:hover {
      svg {
        &.close {
          display: unset;
        }
      }
    }

    svg {
      &.close {
        display: none;
      }
    }
  }
}
