@use '../../base.scss';

.zl-radio {
  display: inline-flex;

  input[type='radio'] {
    width: 16px;
    height: 16px;
    opacity: 0;
    position: absolute;
  }

  svg {
    border: 1px solid var(--radio-color);
    border-radius: var(--border-circle);
  }

  span {
    line-height: 16px;
  }

  &.checked {
    svg {
      border: 1px solid var(--radio-checked-color);
      border-radius: var(--border-circle);
    }
  }
}
