@use '../../base.scss';

.zl-pagination {
  .sel {
    background-color: red;
  }

  span {
    display: inline-grid;
    text-decoration: underline;
    margin-left: 2px;
    margin-right: 2px;
  }
}
