@use '../../base.scss';

.zl-select {
  border-radius: var(--border-radius);
  .zl-select-sel {
    border-radius: var(--border-radius);
    border: 1px solid black;
  }
  .input {
    border: none;
    width: 98%;
    :focus {
      border: none;
      outline: none;
    }
  }
  .icon {
    width: 2%;
    &.hidden {
      display: none;
    }
  }
  .zl-select-options {
    &.hidden {
      display: none;
    }
    .option {
      height: 30px;
      line-height: 30px;
      margin-left: 5px;
      overflow: auto;
      &:hover {
        background-color: hsl(211 75% 40%);
      }
      &.hidden {
        display: none;
      }
      .filter {
        display: inline-block;
        color: rgb(255, 0, 0);
      }
    }
  }
}
