.zl-select {
  .input {
    border: none;
    width: 98%;

    :focus {
      border: none;
      outline: none;
    }
  }

  .icon {
    width: 2%;

    &.hidden {
      display: none;
    }
  }

  .zl-select-options {
    &.hidden {
      display: none;
    }

    position: absolute;
  }

  ul {
    list-style-type: none;
    padding-left: 0.1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    text-align: left;
    background-color: white;

    li {
      &.hidden {
        display: none;
      }

      .filter {
        color: red;
      }
    }

    li:hover {
      background-color: blue;
    }
  }
}
