@use '../../base.scss';

.zl-select {
  border-radius: var(--border-radius);
  input {
    width: 100%;
    height: 30px;
  }
  .zl-select-options {
    &.hidden {
      display: none;
    }
    .option {
      height: 30px;
      line-height: 30px;
      margin-left: 5px;
      overflow: auto;
      &:hover {
        background-color: hsl(211 75% 40%);
      }
      &.hidden {
        display: none;
      }
      .filter {
        display: inline-block;
        color: rgb(255, 0, 0);
      }
    }
  }
}
