@use 'sass:color';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --border-radius: 0.25rem;
  --border-circle: 1rem;
  --border-radius-bottom: 0 0 0.25rem 0.25rem;
  --button-color-blue: blue;
  --button-color-transparent: hsla(0, 0%, 0%, 0);
  --primary: hsl(216, 98%, 52%);
  --sucess: hsl(152, 69%, 31%);
  --danger: hsl(354, 70%, 54%);
  --warning: hsl(45, 100%, 51%);
  --info: hsl(190, 90%, 50%);
  --dark: hsl(210, 11%, 15%);
  --light: hsl(210, 17%, 98%);
  --secondary: hsl(208, 7%, 46%);
  --color-white: hsl(0 0% 93%);
  --switch-color: hsl(354, 70%, 54%);
  --switch-checked-color: hsl(222, 17%, 88%);
  --radio-color: hsl(222, 17%, 88%);
  --radio-checked-color: hsl(354, 70%, 54%);
  font-family:
    'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC',
    'WenQuanYi Micro Hei', sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: #000;
  font-size: 2rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

input {
  outline: none;
}

@mixin btn-color {
  @each $type in (primary, success, danger, warning, info, dark, light, secondary) {
    &.#{$type}:not(:hover):not(:disabled) {
      background-color: var(--#{$type});

      @if $type ==dark {
        color: color.invert(hsl(0, 0%, 0%), 100%);
      }
    }
  }
}
