* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --border-radius: 0.25rem;
  --button-color-blue: blue;
  --primary: hsl(211 75% 50%);
  --sucess: hsla(103, 94%, 41%, 0.747);
  --danger: hsla(0, 94%, 50%, 0.747);
  --warning: hsla(51, 94%, 50%, 0.747);
  --info: hsla(199, 97%, 48%, 0.747);
  --dark: hsl(0, 0%, 0%);
  --light: hsl(0, 0%, 99%);
  --secondary: hsla(67, 5%, 71%, 0.219);
  --color-white: hsl(0 0% 93%);
  font-family:
    'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC',
    'WenQuanYi Micro Hei', sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: #000;
  font-size: 2rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

input {
  outline: none;
}
