@use '../../base.scss' as base;
@use 'sass:color';

$button-hover: color.adjust(blue, $lightness: 40%);
$button-disbaled: color.adjust(blue, $lightness: 60%);

.zl-button {
  border-radius: var(--border-radius);
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  padding-top: 0.4rem;

  &:disabled {
    background-color: $button-disbaled;
  }

  @include base.btn-color;

  &:hover:not(:disabled) {
    background-color: $button-hover;
  }
}
