@use '../../base.scss';
@use 'sass:color';

$button-hover: color.adjust(blue, $lightness: 40%);
$button-disbaled: color.adjust(blue, $lightness: 60%);

.zl-button {
  border-radius: var(--border-radius);
  border: 1px solid black;
  padding: 0.37rem 0.75rem;

  &:disabled {
    background-color: $button-disbaled;
  }

  @each $type in (primary, success, danger, warning, info, dark, light, secondary) {
    &.#{$type}:not(:hover):not(:disabled) {
      background-color: var(--#{$type});

      @if $type ==dark {
        color: color.invert(hsl(0, 0%, 0%), 100%);
      }
    }
  }

  &:hover:not(:disabled) {
    background-color: $button-hover;
  }
}
