@use '../../base.scss';

.zl-menu {
  border-radius: var(--border-radius);
  display: flex;

  .zl-menu-item {
    width: 100%;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    overflow: hidden;
    height: 2rem;
    line-height: 2rem;

    &.selected {
      background-color: hsl(211 75% 40%);
    }

    &.hidden {
      display: none;
    }

    a {
      width: 100%;
      display: flow;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .zl-menu-sub {
    border-radius: var(--border-radius);
    width: 100%;
    border: 1px solid #ccc;
    z-index: 1;
    height: 2rem;
    line-height: 2rem;

    .subtitle {
      height: 2rem;
      display: inline-block;
      line-height: 2rem;
    }

    .sub-menu {
      position: absolute;
      background-color: #fff;
    }
  }
}
